<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://unpkg.com/htmx.org"></script> <!-- Include HTMX -->
</head>
<body>
    <h1>Login</h1>
    <form hx-post="/accounts/process_login/" hx-target="#response" hx-swap="outerHTML">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="submit" value="Login">
    </form>
    <div id="response"></div>
    
</body>
</html>
