{% extends './base.html' %}

{% block content %}
<body>
    <h1>Edit Profile</h1>

    <form id="profile-update-form" action="{% url 'profile' %}" method="post" enctype="multipart/form-data" 
      hx-post="{% url 'profile' %}"
      hx-headers='{"X-Requested-With": "XMLHttpRequest"}'>

        {% csrf_token %}
        
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name:</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
        </div>

        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name:</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
        </div>

        
        <div class="mb-3 profile-picture-container" style="position: relative; display: inline-block;">
            <label for="profile_picture" class="form-label d-block">Profile Picture:</label>
            {% if user.profile_picture %}
            <div id="profile-picture-preview" style="position: relative; width: 200px; height: 200px;">
                <img src="{{ user.profile_picture.url }}" alt="Profile Picture" id="current-profile-picture" style="width: 100%; height: 100%; object-fit: cover;">
            </div>
            {% endif %}
            <input class="form-control profile-picture-input" type="file" id="profile_picture" name="profile_picture" accept="image/*" onchange="previewImage();" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer;">
        </div>



        <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>

    {% include 'toasts.html' %}
</body>
<style>
    .profile-picture-container:hover .profile-picture-input, .profile-picture-input:hover {
        opacity: 0.5; /* Adjust for desired visibility */
        background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent overlay to indicate interactivity */
    }
    .profile-picture-input {
        opacity: 0; /* Hidden by default */
    }
</style>

<script>
    function previewImage() {
        var input = document.getElementById('profile_picture');
        var previewDiv = document.getElementById('profile-picture-preview');
        var previewImage = document.getElementById('current-profile-picture');

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                if (!previewImage) {
                    previewImage = document.createElement('img');
                    previewImage.id = 'current-profile-picture';
                    previewImage.style = 'width: 100%; height: 100%; object-fit: cover;';
                    previewDiv.appendChild(previewImage);
                }
                previewImage.src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>


{% endblock %}
