<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta viewport="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>

        <nav class = "bg-gray-800 text-white p-3">
            <div class = "container mx-auto">
                <a href = "" class = "text-white">htmxCommerce</a>
            </div>
        </nav>


    <footer class = "bg-gray-200 text-center text-xs p-3 absolute bottom-0 w-full">
        <div class = "container mx-auto">
            <p>&copy; 2024 htmxCommerce</p>
        </div>
        <div class = "container mx-auto">
            <p>Powered by <a href = "https://htmx.org">htmx</a></p>
        </div>
    </footer>
    </body>

</html>